.hero {
  padding-top: 91.7333333333vw;
}

@media only screen and (min-width: 834px) {
  .hero {
    padding-top: 23.3333333333vw;
  }
}

.titleWrapper {
  margin: 0 var(--grid-outer-gutter);
}

.title {
  color: var(--color-off-white);
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2.8rem, 9.6vw, 9.6vw);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.167;
}

@media only screen and (min-width: 834px) {
  .title {
    font-size: clamp(5rem, 4.4444444444vw, 4.4444444444vw);
    letter-spacing: -0.04em;
    line-height: 1.125;
  }
}
