.section {}

.copy {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1;
  grid-column: 1 / -1;
}

.copy p + h3,
.copy p + p {
  margin-top: 6.4vw;
}

.copy p {
  color: var(--color-light-grey);
  opacity: 0;
  transition: opacity 2.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.copyVisible {
  opacity: 0.4 !important;
}

@media only screen and (min-width: 834px) {
  .copy {
    font-size: clamp(3rem, 2.5vw, 2.5vw);
    line-height: 1.167;
    grid-column: 13 / -1;
  }

  .copy p + h3,
  .copy p + p {
    margin-top: 2.5vw;
  }
}
