.section {}

.content {
  grid-column: 1 / -1;
}

@media only screen and (min-width: 834px) {
  .content {
    grid-column: 13 / 23;
  }
}

.introLabel {
  color: var(--color-off-white);
}

.subtitle {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-top: 9.6vw;
}

@media only screen and (min-width: 834px) {
  .subtitle {
    font-size: clamp(3rem, 2.5vw, 2.5vw);
    line-height: 1.167;
    margin-top: 2.5vw;
  }
}

.subtitle > span {
  display: block;
}

.copy {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1;
  color: var(--color-off-white40);
  /* CopyReveal animation handled by GSAP SplitText in CopyReveal component */
}

@media only screen and (min-width: 834px) {
  .copy {
    font-size: clamp(3rem, 2.5vw, 2.5vw);
    line-height: 1.167;
  }
}
