.section {
  color: #fff;
  position: relative;
  z-index: 3;
}

.inner {
  padding: 32vw 0;
}

@media only screen and (min-width: 834px) {
  .inner {
    padding: 8.3333333333vw 0;
  }
}

.content {
  grid-column: 1 / -1;
}

@media only screen and (min-width: 834px) {
  .content {
    grid-column: 1 / 15;
  }
}

.copy {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.142;
}

@media only screen and (min-width: 834px) {
  .copy {
    font-size: clamp(2.4rem, 2.0833333333vw, 2.0833333333vw);
    letter-spacing: -0.04em;
    line-height: 1.2;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  margin-top: 12.8vw;
  row-gap: 4.2666666667vw;
}

@media only screen and (min-width: 834px) {
  .sidebar {
    grid-column: 18 / -1;
    margin-top: 0;
    row-gap: 1.6666666667vw;
  }
}

.stat {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding-top: 2.6666666667vw;
  row-gap: 0.5333333333vw;
}

@media only screen and (min-width: 834px) {
  .stat {
    padding-top: 0.6944444444vw;
    row-gap: 0.2083333333vw;
  }
}

.statLabel {
  color: var(--color-arsenic);
  font-family: var(--font-accent), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.67;
  text-transform: uppercase;
}

.statValue {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(1.6rem, 5.3333333333vw, 5.3333333333vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1.2;
}

@media only screen and (min-width: 834px) {
  .statValue {
    font-size: clamp(2rem, 1.6666666667vw, 1.6666666667vw);
    line-height: 1.167;
  }
}

.bg {
  background-color: var(--color-yellow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
