.section {
  padding: 0 0 53.3333333333vw;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 834px) {
  .section {
    padding: 0 0 2.5vw;
  }
}

.cards {
  column-gap: var(--grid-gutter);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  row-gap: var(--grid-outer-gutter);
}

@media only screen and (min-width: 834px) {
  .cards {
    row-gap: 1.1111111111vw;
  }
}

.statCard {
  aspect-ratio: 1;
  background-color: var(--color-dark-grey);
  border-radius: 6.4vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--grid-outer-gutter);
  position: relative;
  grid-column: 1 / -1;
}

@media only screen and (min-width: 834px) {
  .statCard {
    aspect-ratio: 674 / 450;
    border-radius: 3.8888888889vw;
    padding: 3.3333333333vw;
    grid-column: span 12;
  }
}

.numberWrapper {
  align-self: flex-end;
  column-gap: 0;
  display: flex;
}

.number {
  color: var(--color-silver);
  font-size: 25.6vw;
  font-weight: 250;
  letter-spacing: -0.08em;
  line-height: 1;
}

@media only screen and (min-width: 834px) {
  .number {
    font-size: 8.3333333333vw;
  }
}

.numberPlus {
  align-self: flex-start;
  color: var(--color-silver);
  margin-left: 2.9333333333vw;
  width: 7.2vw;
}

@media only screen and (min-width: 834px) {
  .numberPlus {
    margin-left: 0.7638888889vw;
    width: 3.1944444444vw;
  }
}

.cardContent {
  margin-top: auto;
}

.cardTitle {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(1.5rem, 4.8vw, 4.8vw);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.22;
  color: var(--color-off-white);
}

@media only screen and (min-width: 834px) {
  .cardTitle {
    font-size: clamp(1.6rem, 1.3888888889vw, 1.3888888889vw);
    line-height: 1.2;
  }
}

.cardTitle span {
  display: block;
}

.cardCopy {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(1.3rem, 3.7333333333vw, 1.8rem);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.375;
  margin-top: 1.6vw;
  max-width: 67.7333333333vw;
  color: var(--color-silver);
}

@media only screen and (min-width: 834px) {
  .cardCopy {
    font-size: clamp(1.4rem, 1.1111111111vw, 1.8rem);
    margin-top: 1.1111111111vw;
    max-width: 20.8333333333vw;
  }
}
