.homeFeatures {
  padding: 32vw 0 53.3333333333vw;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: 834px) {
  .homeFeatures {
    padding: 8.3333333333vw 0 13.8888888889vw;
  }
}

.items {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  row-gap: 19.2vw;
}

@media only screen and (min-width: 834px) {
  .items {
    column-gap: var(--grid-gutter);
    display: grid;
    flex-direction: unset;
    grid-column: 13 / -1;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.1666666667vw;
  }
}

.iconFeature {
  display: flex;
  flex-direction: column;
}

.iconWrapper {
  max-height: 10.6666666667vw;
  max-width: 13.6vw;
}

@media only screen and (min-width: 834px) {
  .iconWrapper {
    max-height: 2.7777777778vw;
    max-width: 3.5416666667vw;
  }

  .iconWrapper img {
    width: auto;
  }
}

.featureTitle {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(1.6rem, 5.3333333333vw, 5.3333333333vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1.2;
  margin-top: 9.6vw;
  max-width: 69.3333333333vw;
  color: var(--color-off-white);
}

@media only screen and (min-width: 834px) {
  .featureTitle {
    font-size: clamp(2rem, 1.6666666667vw, 1.6666666667vw);
    font-weight: 300;
    line-height: 1.167;
    margin-top: 2.2222222222vw;
    max-width: none;
  }
}

.featureCopy {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(1.5rem, 4.8vw, 4.8vw);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.22;
  margin-top: 6.4vw;
  color: var(--color-mid-grey);
}

@media only screen and (min-width: 834px) {
  .featureCopy {
    font-size: clamp(1.6rem, 1.3888888889vw, 1.3888888889vw);
    line-height: 1.2;
    margin-top: 1.6666666667vw;
  }
}

/* Label for section header */
.sectionLabel {
  align-items: center;
  color: var(--color-silver);
  display: flex;
  font-family: var(--font-accent), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.67;
  text-transform: uppercase;
  grid-column: 1 / -1;
  margin-bottom: 3.3333333333vw;
}

.sectionLabel::before {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  height: 0.6rem;
  margin-right: 0.7rem;
  width: 0.6rem;
}

@media only screen and (min-width: 834px) {
  .sectionLabel {
    grid-column: 1 / 13;
    margin-bottom: 0;
  }
  .sectionLabel::before {
    margin-right: 0.4166666667vw;
  }
}
