.intro {
  color: #fff;
  position: relative;
  z-index: 3;
}

.inner {
  padding: 60.5333333333vw 0;
}

@media only screen and (min-width: 834px) {
  .inner {
    padding: 19.2361111111vw 0;
  }
}

.content {
  grid-column: 1 / -1;
}

@media only screen and (min-width: 834px) {
  .content {
    grid-column: 1 / -3;
  }
}

.copy {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.142;
}

@media only screen and (min-width: 834px) {
  .copy {
    font-size: clamp(3.6rem, 3.3333333333vw, 3.3333333333vw);
    letter-spacing: -0.04em;
    line-height: 1.167;
  }
}

.bg {
  background-color: var(--color-yellow);
  border-radius: 1.6666666667vw;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
