.section {
  min-height: 100vh;
  position: relative;
  isolation: isolate;
}

.section::before {
  background: linear-gradient(180deg, transparent -2.53%, transparent 75.72%, #fafaf9);
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.content {
  grid-column: 1 / -1;
  margin: 32vw 0;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: 834px) {
  .content {
    grid-column: 13 / -3;
    margin: 8.3333333333vw 0;
  }
}

.label {
  align-items: center;
  color: #d6d3d1;
  display: flex;
  font-family: var(--font-accent), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.67;
  text-transform: uppercase;
}

.label::before {
  background-color: #d6d3d1;
  border-radius: 50%;
  content: "";
  height: 0.6rem;
  margin-right: 0.7rem;
  width: 0.6rem;
}

@media only screen and (min-width: 834px) {
  .label::before {
    margin-right: 0.4166666667vw;
  }
}

.title {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-top: 9.6vw;
  color: #fff;
}

@media only screen and (min-width: 834px) {
  .title {
    font-size: clamp(3rem, 2.5vw, 2.5vw);
    line-height: 1.167;
    margin-top: 2.5vw;
  }
}

.bodyCopy {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 834px) {
  .bodyCopy {
    font-size: clamp(3rem, 2.5vw, 2.5vw);
    line-height: 1.167;
  }
}

.buttonWrapper {
  margin-top: 9.6vw;
}

@media only screen and (min-width: 834px) {
  .buttonWrapper {
    margin-top: 2.5vw;
  }
}

.baseButton {
  align-items: center;
  border-radius: 0.4rem;
  color: var(--color-light-grey);
  display: flex;
  font-family: var(--font-accent), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  height: 4rem;
  justify-content: center;
  letter-spacing: -0.04em;
  line-height: 1.67;
  overflow: hidden;
  padding: 0 2.4rem;
  position: relative;
  width: fit-content;
}

.buttonBg {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background-color: var(--color-off-white20);
  border-radius: 0.4rem;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fillEffect {
  background: var(--color-yellow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-101%);
  width: 100%;
  z-index: 3;
}

@media (hover: hover) and (pointer: fine) {
  .fillEffect {
    transition: transform 0.4s var(--ease-expo-in-out);
    will-change: transform;
  }
  .baseButton:hover .fillEffect {
    transform: translateZ(0);
  }
  .baseButton {
    transition: box-shadow 0.6s ease, color 0.6s;
  }
  .baseButton:hover {
    box-shadow: 0 0 20px rgba(190, 36, 40, 0.3);
    color: #fff;
  }
}

.buttonLabel {
  position: relative;
  transition: color 0.3s var(--ease-expo-in-out);
  z-index: 3;
}

.videoWrapper {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.videoWrapper::before {
  background: linear-gradient(180deg, transparent -2.53%, transparent 75.72%, #fafaf9 101.8%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sourceVideo {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.displacementCanvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
