.teamLeadership {
  margin-top: 32vw;
}
@media only screen and (min-width: 834px) {
  .teamLeadership {
    margin-top: 13.8888888889vw;
  }
}

.title {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(2rem, 7.4666666667vw, 7.4666666667vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1;
  display: block;
  margin: 0 var(--grid-outer-gutter) 16vw;
}
@media only screen and (min-width: 834px) {
  .title {
    font-size: clamp(3rem, 2.5vw, 2.5vw);
    line-height: 1.167;
    margin: 0 var(--grid-outer-gutter) 4.1666666667vw;
  }
}

.container {
  row-gap: 16vw;
}
@media only screen and (min-width: 834px) {
  .container {
    row-gap: 4.1666666667vw;
  }
}
