.section {
  background-color: #fafaf9;
  padding: 0 0 16vw;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: 834px) {
  .section {
    padding: 0 0 5.5555555556vw;
  }
}

.imageWrapper {
  border-radius: 6.4vw;
  height: 66.6666666667vw;
  margin: 0 var(--grid-outer-gutter);
  opacity: 0;
  overflow: hidden;
  position: relative;
  will-change: transform;
}

@media only screen and (min-width: 834px) {
  .imageWrapper {
    border-radius: 1.6666666667vw;
    height: 34.7222222222vw;
    margin: 0 1.0416666667vw;
  }
}

.imageWrapper img {
  height: 110%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -5%;
  width: 100%;
}
