.hero {
  background-color: #fafaf9;
  color: #000;
  min-height: 100lvh;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.content {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  justify-content: center;
  min-height: 100lvh;
  padding: 32vw 0 16vw;
  position: relative;
  row-gap: 3.2vw;
  z-index: 2;
}

@media only screen and (min-width: 834px) {
  .content {
    grid-column: 1 / 15;
    padding: 11.1111111111vw 0 8.3333333333vw;
    row-gap: 0.9722222222vw;
  }
}

.label {
  align-items: center;
  color: var(--color-silver);
  display: flex;
  font-family: var(--font-accent), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.67;
  text-transform: uppercase;
}

.label::before {
  background-color: var(--color-yellow);
  border-radius: 50%;
  content: "";
  height: 0.6rem;
  margin-right: 0.7rem;
  width: 0.6rem;
}

@media only screen and (min-width: 834px) {
  .label::before {
    margin-right: 0.4166666667vw;
  }
}

.title {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(3.2rem, 9.6vw, 9.6vw);
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 0.95;
  opacity: 0;
}

@media only screen and (min-width: 834px) {
  .title {
    font-size: clamp(4.8rem, 4.1666666667vw, 4.1666666667vw);
    line-height: 1;
  }
}

.description {
  font-family: var(--font-base), sans-serif;
  font-size: clamp(1.4rem, 4.2666666667vw, 1.8rem);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.375;
  color: var(--color-mid-grey);
  max-width: 85%;
}

@media only screen and (min-width: 834px) {
  .description {
    font-size: clamp(1.4rem, 1.1111111111vw, 1.8rem);
    max-width: 34.7222222222vw;
    margin-top: 0.6944444444vw;
  }
}

.heroImage {
  display: none;
}

@media only screen and (min-width: 834px) {
  .heroImage {
    align-items: center;
    border-radius: 1.3888888889vw;
    display: flex;
    grid-column: 15 / -1;
    justify-content: center;
    min-height: 100lvh;
    opacity: 0;
    overflow: hidden;
    padding: 6.9444444444vw 0;
    will-change: transform;
  }
}

.heroImage img {
  border-radius: 1.3888888889vw;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  width: 100%;
}
